html {
  margin: 0;
  padding: 0;
  scroll-padding-top: 6rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow: auto;
  width: 100%;
}
header {
  width: 100%;
  height: auto;
  background-color: #862b0d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  color: white;
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-left: 5px;
}
#header-img {
  width: 35px;
  height: 35px;
  filter: invert(1);
}

nav > ul {
  width: 40vw;
  height: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: white;
}
.nav-link{
  border: 2px solid white;
  padding: 2px 5px;
}
nav a:hover {
  color: lightgrey;
  border: 2px solid lightgrey;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.credential {
  text-align: center;
  padding-top: 100px;
}
form {
  display: flex;
  flex-direction: column;
}
#email {
  width: 250px;
  margin: 0 auto;
  height: 35px;
  border-radius: 5px;
}
#submit,
button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #862b0d;
  color: white;
  font-weight: bold;
  margin: 0.5rem auto;
  border: 0;
}
#submit:hover {
  background-color: #b3401b;
}
.flavors {
  display: block;
  margin-bottom: 0 auto 100px auto;
}
.flavor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  padding-top: 20px;
}
i {
  color: #862b0d;
}
.flavor-content {
  max-width: 600px;
  width: 100%;
  text-align: left;
}
.flavor-content > h2 {
  display: block;
  margin-bottom: 0;
  padding: 0;
}
.flavor-content > p {
  margin: 0;
  padding: 0;
}
iframe {
  max-width: 560px;
  width: 100%;
  height: 315px;
  display: block;
  margin: 25px auto 0 auto;
}
#price {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.card {
  max-width: 300px;
  width: 100%;
  height: 350px;
  border: 2px solid #862b0d;
  border-radius: 5px;
}
div > .variant {
  width: 100%;
  height: 50px;
  background-color: #862b0d;
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
.card-price {
  text-align: center;
}
.card-lists {
  margin: 25px auto;
  list-style-type: none;
  padding: 0;
}
.card-lists > li {
  text-align: center;
  margin: 10px;
  font-size: 20px;
}
button {
  display: block;
  margin: 0 auto;
}
footer {
  background-color: #862b0d;
  color: white;
  text-align: right;
  padding: 10px 10px 20px 10px;
  max-width: 1000px;
  width: 100%;
  margin: 30px auto 0 auto;
}
.info-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}
.info-link {
  color: white;
  text-decoration: none;
}
.info-link:hover {
  color: lightgrey;
}
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .credential {
    padding-top: 200px;
  }
  html {
    scroll-padding-top: 11.5rem;
  }
  nav > ul {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

