@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html{
  font-family: 'Poppins', sans-serif;
}
.container{
  background-color: rgba(67, 87, 176, 0.9);
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-bottom:0;
}
header{
  padding: 20px;
}
h1, p{
  text-align: center;
  padding: 5px;
  margin: 0; 
}
body{
  margin:0;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/1181233/pexels-photo-1181233.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: auto;
}
@media (min-width: 576px) {
  form {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  form {
    max-width: 720px;
  }
}
form{
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(29, 38, 79, 0.9);
  padding: 30px;
  border-radius: 10px;
  margin-bottom:0;
}
label{
  display: block;
}
input, select, textarea{
  border-radius: 10px;
  border: 2px solid black;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  outline: none;
}
input:focus, select:focus, textarea:focus{
  border: 2px solid rgb(63, 196, 147);
}

#name, #email, #number, select, textarea, input[type=submit] {
  width: 100%;
  display: block;
  padding: 12px 20px;
  margin: 4px 0;
}
input[type=radio],
input[type=checkbox] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
input[type=submit]{
  background-color: rgb(63, 196, 147);
}
input[type=submit]:hover{
  background-color: rgb(50, 153, 115);
}
.form-group{
  padding-bottom: 15px;
}